.header{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    justify-content: space-around;
    align-items: center;
  }
  .themeselector-cont{
  flex-direction: row;
  }
  .theme-number{
    flex-direction:row;
  }
  button{
    background-color: transparent;
    /* color: brown; */
    border: none;
    border-radius: 50%;
    width: 1rem;
    height: 0.8rem;
    cursor: pointer;
  }